.onoff {
    margin-left: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(0, 255, 0);
&Red {
    color:red ;
    margin-left: 2rem;
    font-size: 2rem;
    cursor: pointer;   
    
}
}
