//LIGHTTHEME

$prim: #53e3a6;

$color-black: #000;

$color-white: #fff;

//BG-Gradient-Colors
$bg-grad-dark: #50a3a2;
$bg-grad-light: #53e3a6;

$btn-color-bg: gray;
$btn-color-font: $prim;

//DARKTHEME

$prim-d: #427795;
$color-black-d: #000;
$color-white-d: #000;

//BG-Gradient-Colors DARK
$bg-grad-dark-d: #131616;
$bg-grad-light-d: #246d80;

$btn-color-bg-d: rgb(33, 119, 153);
$btn-color-font-d: $prim-d;
