@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  background-color: #000; }
  body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300; }
  body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300; }
  body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300; }
  body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300; }

h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200; }

.btn {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btnplus {
    font-size: 2rem;
    position: absolute;
    right: 15%;
    top: 40px;
    background: gray;
    color: #53e3a6;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition-duration: 0.25s; }
    .btnplus:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btnminus {
    font-size: 2rem;
    position: relative;
    top: -43px;
    left: -175px;
    background: gray;
    color: #53e3a6;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none; }

.form {
  padding: 20px 0;
  position: relative;
  z-index: 2; }
  .form .Question {
    display: block;
    outline: 0;
    border-width: 0;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    margin: 0 auto 15px auto;
    text-align: left;
    font-size: 1.8rem;
    color: #53e3a6;
    transition-duration: 0.25s;
    font-weight: 300; }
    .form .Question:hover {
      background-color: fade(#fff, 40%); }
    .form .Question:focus {
      background-color: #fff;
      width: 30rem;
      color: #53e3a6; }

#answer {
  display: block;
  outline: 0;
  border-width: 0;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  margin: 0 auto 15px auto;
  text-align: left;
  font-size: 1.8rem;
  color: #53e3a6;
  transition-duration: 0.25s;
  font-weight: 300;
  position: relative;
  z-index: 2;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center; }
  #answer:hover {
    background-color: fade(#fff, 40%); }
  #answer:focus {
    background-color: #fff;
    width: 30rem;
    color: #53e3a6; }
  #answer:focus {
    width: auto; }

.onoff {
  padding: 2rem 0 0 4rem;
  font-size: 2rem;
  cursor: pointer;
  color: white; }

.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 8rem 0;
  height: 40rem;
  text-align: center; }
