.btn {
    appearance: none;
    outline: 0;
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 10px 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    color: $prim;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    
    &:hover{
       
        transform: translateY(-3px);
       
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }


    &plus {
        font-size: 2rem;
        position: absolute;
        right: 15%;
        top: 40px;
        background: gray;
        color: $prim;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        outline: none;
        transition-duration: 0.25s;
    &:hover {
        transform: translateY(-2px);
       
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    
    }
       
        &minus {
           
            font-size: 2rem;
            position:relative;
            top: -43px;
            left: -175px;
            background: gray;
            color: $prim;
            border: none;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            outline: none;
        }
}